@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Amaranth);
/* CSS Document */
* {
	margin: 0;
	padding: 0;
	transition: all ease-in-out .2s;
	-moz-transition: all ease-in-out .2s;
	-ms-transition: all ease-in-out .2s;
	-o-transition: all ease-in-out .2s;
	-webkit-transition: all ease-in-out .2s;
}
html, body {
	background: #fff;
	font: normal normal normal 14px/150% Arial, Helvetica, sans-
serif;
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
/****HEADER****/
header {
	background: rgba(255,255,255, 0.9);
	height: 50px;
	width: 100%;
	position: fixed;
	display: none;
	z-index: 100;
	transition: none;
	-moz-transition: none;
	-ms-transition: none;
	-o-transition: none;
	-webkit-transition: none;
}
.wrapper {
	max-width: 800px;
	min-width: 400px;
	margin: auto;
	padding: 0 30px;
	left: 50%;
	height: 60px;
}
#logo {
	position: relative;
	top: 50%;
	margin-top: -15px;
	width: 170px;
	height: 40px;
}
#logo a {
	color: #28B;
	font-family: Helvetica, sans-serif;
}
#logo a:hover {
	color: #069;
}
nav {
	float: right;
	position: relative;
	top: 50%;
	margin-top: -40px;
	font-size: 20px;
	height: 60px;
}
ul {
	list-style-type: none;	
}
nav ul li {
	display: inline-block;
	margin-left: 15px;
}
nav a {
	color: #666;
}
nav a:hover {
	color: #333;
}
/*****SECTIONS****/
section {
	width: 100%;
	padding: 1px 0px 1px 0px;
	margin: 0;
}
section h1 {
	color: #fff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 36px;
	text-align: center;
	margin: 0 auto 30px auto;
}
section .content {
	margin: 80px auto 80px auto;
	max-width: 800px;
	min-width: 400px;
	padding: 50px;
	z-index: 2;
	-moz-transition: none;
	-ms-transition: none;
	-o-transition: none;
	-webkit-transition: none;
}
section .block {
	margin: 10px 10px 10px 10px;
	padding: 10px 30px 10px 30px;
}
/****HERO****/
#hero {
	background: #28C;
	transition: none;
	-moz-transition: none;
	-ms-transition: none;
	-o-transition: none;
	-webkit-transition: none;
	margin: 0;
	padding: 0;
}
.particle{
  position: absolute;
  top: 0px; left:0px;
  height:85px; width:85px;
  margin-top: 0;
  margin-left: 10%;
  border-radius: 50%;
  background: #EEE;
  animation: convect 14s infinite linear;
  -webkit-animation: convect 14s infinite linear;
  transition: none;
	-moz-transition: none;
	-ms-transition: none;
	-o-transition: none;
	-webkit-transition: none;
}
.particle:before{
  display: block;
  content: '';
  position: absolute;
  height: 80px; width: 80px;
  border-radius: 50%;
  background: #fff;
  z-index: 1;
  transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  -webkit-transition: none;
}
.sun {
  margin: auto;
  position: absolute;
  right: 70px; top: 20px;
  margin-left: -100px;
  height:210px; width:210px;
  border-radius: 50%;
  background: #FD1;
}
.inline{
  display: block;
  content: '';
  position: absolute;
  height: 190px; width: 190px;
  border-radius: 50%;
  background: #FE1;
}
.cloud {
	position: absolute;
	left: 50px;
}
.particle:nth-child(2) {  animation-delay:-12s;
-webkit-animation-delay:-12s }
.particle:nth-child(3) {  animation-delay:-10s;
-webkit-animation-delay:-10s }
.particle:nth-child(4) {  animation-delay:-8s;
-webkit-animation-delay:-8s }
.particle:nth-child(5) {  animation-delay:-6s;
-webkit-animation-delay:-6s }
.particle:nth-child(6) {  animation-delay:-4s;
-webkit-animation-delay:-4s }
.particle:nth-child(7) {  animation-delay:-2s;
-webkit-animation-delay:-2s }

@keyframes convect {
  0% { top: 50px; left: 75px}
  25% { top: 25px; left: 140px }
  50% { top: 60px; left: 180px }
  75% { top: 75px; left: 100px }
  100% { top: 50px; left: 75px }
}
@-webkit-keyframes convect {
  0% { top: 50px; left: 75px}
  25% { top: 25px; left: 140px }
  50% { top: 60px; left: 180px }
  75% { top: 75px; left: 100px }
  100% { top: 50px; left: 75px }
}
#hero h1 {
	position: relative;
	top: 30%;
	font-size: 46px;
	line-height: 150%;
	margin: auto;
}
#hero nav {
	margin: auto;
	float: none;
	position:relative;
	color: #FFF;
	left: 50%;
	top: 50%;
	margin-left: -214px;
	width: 428px;
	font-size: 28px;
}
nav ul li {
	margin-left: 50px;
	overflow:visible;
}
nav ul li:first-child {
	margin-left: 0;
}
#next {
	-ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
    transform: rotate(-90deg);
	display: block;
	font-size: 28px;
	color: #fff;
	margin: auto;
	position: absolute;
	top: 90%;
	left: 50%;
	width: 10px;
	padding: auto;
	margin-left: -16px;
}
#next:hover {
	text-shadow: -1px 0px #FFF, 0px -1px #FFF, 0px 1px #FFF;
}
#hero nav a {
	color: #fff;
	border-bottom: 0px solid #fff;
}
#hero nav a:hover {
	border-bottom: 3px solid #fff;
}
/****RESUME****/
#resume {
	background: #333;
}
#resume h1 {
	color: #444;
}
#resume .content {
	background: #eee;
	padding: 50px 0px;
	display: none;
	position: relative;
	z-index: 2;
}
#resume .block {
	color: #888;
	margin: 10px 10px 10px 10px;
	padding: 10px 30px 10px 30px;
}
#resume h2 {
	color: #444;
}
#resume .block img { 
	height: 15px;
}
#resume ul {
	margin-top: 20px;
	list-style-type: none;
}
#resume ul li {
	margin-left: 10px;
	margin-bottom: 20px;
}
#resume ul li:hover {
	color: #444;
}
#resume .grey {
	color: #999;
	margin-left: 10px;
}
#resume p {
	margin-left: 20px;
}
#pdfresume {
	display: block;
	width: 220px;
	margin: auto;
	margin-top: 10px;
	color: #666;
}
#pdfresume:hover {
	color: #333;
}
/****PROJECTS****/
#projects {
	background: #459;
	color: #FFF;
	position: relative;
}
#projects .content {
	display: none;
}
#projects ul {
	margin: 30px auto;
	width: 702px;
}
#projects li {
	display: block;
	margin-bottom: 30px;
	float: left;
	margin-right: 50px; 
}
#projects a {
	display: block;
	border: 3px solid #EEE;
	color: #CCC;
	border-radius: 10px;
	width: 300px;
	padding: 10px;
}
#projects a:hover {
	border: 3px solid #FFF;
	color: #FFF;
}
#projects li:nth-child(2n) {
	margin-right: 0px;
}
#projects li h2 {
	margin-bottom: 10px;
	text-align: center;
}
#projects span {
	margin: auto;
	display: block;
	text-align: center;
}
#projects svg {
	display: block;
	height: 100px;
	width: 100px;
	margin: auto;
	fill: #347;
	clear: both;
	position: absolute;
	bottom: 50px;
	left: 50%;
	margin-left: -50px;
}
#projects svg:hover {
	fill: #FFF034;
}
#aboutme {
	background: #0C6;
	color: #fff;
}
#aboutme p {
	font-size: 20px;
	margin-top: 60px;
	text-align:center;
}
/****FOOTER****/
footer {
	height: 100px;
	background: #333;
}
#starholder {
	position: absolute;
	overflow: hidden;
}
@-webkit-keyframes lefttoright {
    0% {left: -200px;}
    100% {left: 100%;}
}

/* Standard syntax */
@keyframes lefttoright {
    0% {left: -200px;}
    100% {left: 100%;}
}